- drone.list_of_instructions.each do |progress|
  %li{class: progress[:status] ? 'active' : 'disabled'}
    = box_list(progress[:status], progress[:name]) do
      = status_message(progress[:name])
      %i progress[:name]
      = display_address(progress[:name], @item)      
  - break if progress[:status]
