.panel.panel-default.item-info{data: {id: @drone.id} }
  .panel-body
    %h2
      Name : 
      = @activity.item.name
.progress.progress-striped.active
  .progress-bar.progress-bar-info{:style => "width: #{@drone.progress_length}%"}
%ul.nav.nav-pills.nav-stacked.col-md-6.col-md-offset-3
  = render partial: 'drone/activity_list', locals: { drone: @drone, item: @activity.item }
