.jumbotron
  %ul.nav.nav-pills.pull-right
    %li.active.btn.btn-primary
      Develired
      %span.badge= @drone.delivered

  %h1= @drone.name.upcase
  .jumotron-content
    = render 'drone/dron_status_message', activity: @activity, drone: @drone