.jumbotron
  %ul.nav.nav-pills.pull-right
    %li.active.btn.btn-primary
      Develired
      %span.badge= @drone.delivered

  %h1= @drone.name.upcase
  .jumotron-content
    - if @drone.job_available?
      %p Some items are waiting to pick up. Are you Ready?
      %p
        = link_to('YES', drone_update_activity_path(@drone), class: 'btn btn-primary btn-lg')
    - else 
      %p Congratulations :-) . All the goods are delivered. Wait for some time. Command sender will update you when next item intiated.
