.panel.panel-default
  .panel-body
    %h2= @item.name
.progress
  .progress-bar.progress-bar-info{:style => "width: 80%"}
%ul.nav.nav-pills.nav-stacked.col-md-6.col-md-offset-3
  - @drone.list_of_instructions.each do |progress|
    %li{class: progress[:status] ? 'active' : 'disabled'}
      -if progress[:status]
        %input{type: "checkbox", value: ""}/
      -else
        %input{disabled: 'disable', type: "checkbox", value: ""}/
      %a{:href => "#"}= progress[:name]
    - break if progress[:status]
