* {
  border-radius: 0 !important;
}
.bs-component {
  .modal {
    display: block;
    .modal-dialog {
      top: 50%;
      transform: translate(0, -65%);
      margin: 0 auto;
    }
  }
}
.alert {
  border: none;
  width: 95%;
  margin: auto;
  margin-top: 5px;
  position: relative;
  z-index: 99999;
  text-align: center;
}
.jumbotron{
  margin-top: 30px;
  a {
    margin-top: 30px;
  } 
  p {
    margin: 30px 0;
  }
  ul {
    margin-top: 38px;
  }
}
.badge {
  border-radius: 10px !important;
}

.panel-default {
  margin-top: 50px;
}
.nav.nav-pills.nav-stacked {
  li {
    background-color: rgba(148, 148, 148, 0.18);
  }
  li input{
    display: inline-block;
    float: left;
    position: relative;
    z-index: 999;
    margin-top: 30px;
    margin-left: 19px;
    margin-right: 18px;
  }
  a {
    margin: auto;
    padding: 21px;
    font-size: 20px;
    i {
      width: 34px;
      height: 34px;
      display: inline;
      float: left;
      margin-right: 26px;
      background-image: url(/assets/checkmark.png);
      background-position: 0 0;
      text-indent: -99999px;
      z-index: 33;
      background-size: 33px;
    }
    button {
      float: right;
      line-height: 18px;
      font-size: 14px;
      padding: 5px 13px;
    }
  }
  li.active{
    width: 101%;
    box-shadow: 1px 1px 0px 9px rgb(202, 202, 202);
    right: .5%;
    a i {
      margin-left: 0.5%;
      background-image: url(/assets/checkmark_marker.png);
    }
  }
}
